/* General */
body {
    width: auto;
    height: 100vh;
    background: url("../../../img/login-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User Search Results */
table {
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) td {
    background-color: #d5d5d5;
}

tbody th {
    padding: 0.4em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #d5d5d5;
    font-size: 20px;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: normal;
}

tbody td {
    padding: 0.4em;
    font-size: 15px;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: normal;
}

.pfp-small {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: 2px solid grey;
    margin: 0.5em 0.5em 0.25em 1em;
}