/* HEADER IMAGE AND TITLE */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 100%;
  align-self: center;
}

.header p {
  font-family: Luminari, Helvetica, sans-serif;
  font-size: 3em;
  z-index: 2;
  position: absolute;
  background-color: white;
  border-radius: 1000px;
  border: 1px solid grey;
  padding: 0em 1em;
}


