/* General */

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

hr {
    border: 1px solid #d5d5d5;
    margin-bottom: 1.5em;
}

#content {
    background-color: white;
    width: 50em;
    height: 50em;
    border-radius: 8px;
    padding: 2em;
    overflow: auto;
}

legend, h1 {
    font-size: 20px;
    font-family: "Helvetica Neue";
}

/* FORMS */

.form {
    padding: 0 3em 0 3em;
    width: auto;
}

.textbox {
    width: 25em;
    height: 2em;
    border-radius: 8px;
    border: 1px solid #d5d5d5;
    margin: 0.5em 0em 1.5em 0em;
    padding: 1em 1em 1em 1em;
}

.form-submit {
    background-color: #039ce0;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Helvetica-light";
}

.form-submit:hover {
    background-color: #01a7ee;
    cursor: pointer;
}


.file-upload {
    color: #039ce0;
    border: 1px solid #039ce0;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 1.3em;
    cursor: pointer;
}

.file-upload:hover {
    background-color: rgb(248, 248, 248);
}

/*
input[type="file"] {
    display:contents;
}


#file {
  display: none;
}
*/

/* LOGO */

#logo {
    height: 10em;
    text-align: center;
}

#logo img {
    width: 30em;
    height: auto;
    padding-top: 2em;
}

.hide-img {
    display: none;
}

/* FORM VALIDATION */

.missing-field {
    border: 1px solid red;
}