.plain-background {
  background-color: #f5f5f5;
  height: fit-content;
}

/* RIGHT SIDEBAR */
.create-post {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 1em;
}

.side-col-r a {
  margin: 0.35em;
  text-decoration: none;
  color: black;
}

.side-col-r a:hover {
  text-decoration: none;
}

.side-col-r a i {
  width: 30px;
}

.side-col-r {
  float: right;
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 30%;
  padding: 1em;
  position: relative;
}

/* LEFT SIDEBAR */
.side-col-l {
  float: left;
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 30%;
  padding: 1em;
}
 
.post-category {
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.post-category img:hover, .post-category-l img:hover {
  transform: translateY(2px);
}

.post-category-l {
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.post-category img {
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.post-category-l img {
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.post-category p {
  position: absolute;
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* MIDDLE CONTENT */
.mid-col {
  width: 40%;
  padding: 1em;
}

/* post styling is in post.css*/
