* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.form-login {
  border: 1px solid #039ce0;
  border-radius: 30px;
  background-color: white;
  color: #039ce0;
  padding: 0.4em 1.6em;
  margin-right: 1em;
}

.form-login:hover {
  background-color: rgb(248, 248, 248);
  text-decoration: none;
  color: #039ce0;
}

.navbar {
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
  height: 7vh;
}

.navbar-brand img {
  width: 200px;
}

.nav-search {
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  color: black;
  padding: 6px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica-light";
  margin-right: 10px;
}

.search-button {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  color: black;
  padding: 6px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica-light";
  margin-right: 4em;
}

.search-button i {
  color: rgb(131, 131, 131);
}

.login-link {
  background-color: white;
  border: 1px solid #039ce0;
  border-radius: 20px;
  color: #039ce0;
  padding: 6px 25px;
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica-light";
}

.login-link:hover {
  text-decoration: none;
  background-color: rgb(248, 248, 248);
  color: #039ce0;
}

.header1 {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 600;
}

.search-button:hover {
  background-color: rgb(248, 248, 248);
}
