/* POSTS */

.container-1 {
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  justify-content: center;
}

html { 
  background-color: #f5f5f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-box {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  min-height: 93vh;
  height: 100%;
}

.popular-post {
  width: 80%;
  margin-bottom: 2em;
}

/* COMMENTS */

.user-comment {
  background-color: rgb(228, 228, 228);
  padding-left: 1em;
  padding-bottom: 0.5em;
}

.comment-header {
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  padding-top: 0.75em;
  background-color: rgb(228, 228, 228);
  padding-left: 2em;
}

.comment-header p {
  font-family: "Helvetica Neue";
  font-weight: 500;
  text-decoration: underline;
}

.user-comment input {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Helvetica-light";
  margin: 10px 20px;
  width: 80%;
}

.pfp-smaller {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid grey;
  margin: 0.5em 0.5em 0.25em 1em;
}

.user-info {
  background-color: rgb(228, 228, 228);
  border-top: 1px solid grey;
  padding-left: 1em;
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.user-info p {
  background-color: rgb(228, 228, 228);
  margin-left: auto;
  order: 2;
  margin-top: 15px;
  margin-right: 1em;
  font-size: 14px;
}

.user-content {
  background-color: rgb(228, 228, 228);
}

.user-content p {
  padding-left: 2.2em;
  background-color: rgb(228, 228, 228);
}

.popular-post {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: fit-content;
}

.pop-post-comment {
  display: inline-block;
  margin-bottom: 2em;
}

.pfp-small {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid grey;
  margin: 0.5em 0.5em 0.25em 1em;
}

.post-status {
  display: flex;
  align-items: center;
}

.post-status a {
  color: #01a7ee;
}

.post-status a:hover {
  color: #01a7ee;
  text-decoration: none;
}

.category a {
  color: #01a7ee;
}

.category a:hover {
  color: #01a7ee;
  text-decoration: none;
}

.post-status p {
  margin-left: auto;
  order: 2;
  margin-top: 15px;
  margin-right: 1em;
  font-size: 14px;
}

.category {
  margin-left: 1.25em;
  font-size: 14px;
}

.post-text {
  margin-left: 1em;
}

.menu-bar button {
  display: flex;
  border: none;
  background-color: rgb(228, 228, 228);
  margin-left: 1em;
}

.menu-bar a {
  color: black;
  margin-left: 1.25em;
  margin-right: 0.4em;
}

.menu-bar a:hover {
  color: black;
}

.menu-bar label {
  margin-top: 5px;
  margin-right: 0.5em;
}

.menu-bar .bookmark {
  margin-left: auto;
  order: 2;
  margin-right: 1em;
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-img img {
  width: 90%;
  margin: 1em;
  border: 1px solid grey;
  border-radius: 5px;
}

.menu-bar {
  display: flex;
  background-color: rgb(228, 228, 228);
  height: 35px;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} 

.menu-bar-comment {
  background-color: rgb(228, 228, 228);
  height: 0.01em;  
}

.menu-bar img {
  width: 30px;
  margin-left: 10px;
}

.menu-bar input {
  height: 25px;
  background-color: #039ce0;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Helvetica-light";
  margin-right: 10px;
  margin-left: 2.3em;
}

.menu-bar input:hover {
  background-color: #01a7ee;
}

.post-text input {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Helvetica-light";
  margin: 15px 20px 20px 20px;
  width: 83%;
}

.post-text textarea {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Helvetica-light";
  margin: 20px 20px 0px 20px;
  width: 83%;
}